.basket-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: flex-end;
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s;
}

.basket-popup-content {
  position: relative;
  width: 300px;
  height: 100%;
  background-color: white;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.5);
  transform: translateX(100%);
  transition: transform 0.3s ease-in-out;
  overflow-y: auto;
  padding: 20px;
}

.basket-popup-overlay.visible {
  visibility: visible;
  opacity: 1;
}

.basket-popup-overlay.visible .basket-popup-content {
  transform: translateX(0);
}

.basket-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
  padding-bottom: 10px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.thumbnail {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.item-details {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.remove-button {
  background: red;
  color: white;
  border: none;
  margin-left: 10px;
  padding: 5px;
  cursor: pointer;
}

.buy-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: green;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  font-size: 16px;
  text-align: center;
}

.buy-button:hover {
  background-color: darkgreen;
}