.home {
    text-align: center;
  }

.background{
    background-image: "app/background.jpg";
    background-size: 'cover';
    background-position: 'center';
    height: '100vh';
}

body {
  font-family: Arial, sans-serif;
}

.title{
  padding-top: 5%;
  color: rgb(255, 196, 0);
  font-size: 48px;
  font-weight: bold;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  3px 3px 0 #000;  
}

.title.sub {
  padding-top: 0%;
  font-size : 28px;
}

.title.desc{
  padding-top: 0%;
  font-size: 20px;
  margin-bottom: 100px;
}

.register {
  border: none;
  padding: 0;
  background: none;
  cursor: pointer;
}

.icon {
  width: 150px;
}

button:active{
  opacity: 0.90;
}