.movie-details {
    text-align: center;
  }

.movie-details img {
    max-width: 250px;
    max-height: 250px;
    height: auto;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
}